In [1]:
import pandas as pd
from iFinDPy import *
from pymysql import Connection

D:\Anaconda\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

D:\Anaconda\Lib\site-packages\iFinDPy.pth

In [2]:
#创建数据库连接
con = Connection(host='database-1.c1n6uzso3si0.rds.cn-north-1.amazonaws.com.cn', port=3306, user='zc99617224',
                 password='44263203')

In [3]:
con.get_host_info()

'socket database-1.c1n6uzso3si0.rds.cn-north-1.amazonaws.com.cn:3306'

In [6]:
con.get_server_info()

'8.0.33'

In [7]:
con.close()

In [19]:
con = None
try:
    con = Connection(host='database-1.c1n6uzso3si0.rds.cn-north-1.amazonaws.com.cn', port=3306, user='zc99617224',
                     password='44263203', database='')

    if con:
        print('连接到数据库')
    #创建游标对象
    cursor = con.cursor()
    #建表语句
    sql = """
    CREATE TABLE IF NOT EXISTS `runoob_tbl`(
   `runoob_id` INT UNSIGNED AUTO_INCREMENT,
   `runoob_title` VARCHAR(100) NOT NULL,
   `runoob_author` VARCHAR(40) NOT NULL,
   `submission_date` DATE,
   PRIMARY KEY ( `runoob_id` )
)ENGINE=InnoDB DEFAULT CHARSET=utf8;
    
    """
    #选择要操作的数据库
    con.select_db('架构_name')
except Exception as e:
    print('异常：', e)

finally:
    if con:
        con.close()
        print('数据库关闭')

连接到数据库
数据库关闭

In [9]:
THS_iFinDLogin('dmzb026', '923035')

0

In [10]:
data = THS_DS(
    'AGZL.SHF,ALZL.SHF,APZL.CZC,BUZL.SHF,CFZL.CZC,CZL.DCE,EBZL.DCE,EGZL.DCE,FGZL.CZC,FUZL.SHF,HCZL.SHF,LZL.DCE,MAZL.CZC,MZL.DCE,OIZL.CZC,PGZL.DCE,PPZL.DCE,PZL.DCE,RBZL.SHF,RMZL.CZC,SAZL.CZC,SFZL.CZC,SMZL.CZC,SPZL.SHF,TAZL.CZC,URZL.CZC,VZL.DCE,YZL.DCE,ZNZL.SHF',
    'ths_future_short_name_future;ths_future_code_future;ths_month_contract_code_future;ths_contract_multiplier_product_future;ths_pricing_unit_future;ths_mini_chg_price_future;ths_open_price_future;ths_high_price_future;ths_low_future;ths_close_price_future;ths_settle_future;ths_vol_future;ths_open_interest_future',
    ';;;;;;;;;;;;', '', '2023-09-06', '2023-09-08', 'format:dataframe')

df = pd.DataFrame(data.data)

In [4]:
from sqlalchemy import create_engine
import sqlalchemy

In [21]:
engine = create_engine(
    'mysql+pymysql://zc99617224:44263203@database-1.c1n6uzso3si0.rds.cn-north-1.amazonaws.com.cn:3306/test')

In [18]:
engine

Engine(mysql+pymysql://zc99617224:***@database-1.c1n6uzso3si0.rds.cn-north-1.amazonaws.com.cn,3306/test)

In [22]:
df.to_sql(name='test数据', con=engine, index=False, if_exists='append')

87