In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from datetime import datetime, timedelta
from iFinDPy import *
import time
import numpy as np
import talib as ta
from pyecharts.globals import CurrentConfig, NotebookType

CurrentConfig.NOTEBOOK_TYPE = NotebookType.NTERACT
from pyecharts import options as opts
from pyecharts.charts import Kline, Bar, Grid, Line
from pyecharts.commons.utils import JsCode

D:\anaconda\Lib\site-packages\iFinDPy.pth

In [2]:
engine = create_engine(
    'mysql+pymysql://zc99617224:44263203@database-1.c1n6uzso3si0.rds.cn-north-1.amazonaws.com.cn:3306/trendfollow')

In [3]:
con = pymysql.connect(host='database-1.c1n6uzso3si0.rds.cn-north-1.amazonaws.com.cn', user='zc99617224',
                      password='44263203', database='trendfollow', port=3306)

In [4]:
cur = con.cursor()
sql = 'SELECT * FROM 螺纹钢主连数据'
cur.execute(sql)

685

In [5]:
data = cur.fetchall()

In [33]:
data = pd.read_excel(
    r'C:\Users\Administrator.DESKTOP-BCUJV93\DataspellProjects\dataprocessing\宏观数据\CTA择时数据_20231109_104347.xlsx',
    index_col=0, parse_dates=True)

In [11]:
data

,规模以上工业企业:产成品存货:同比,南华期货:商品指数:月:平均值,沪深300指数:月:平均值,中债综合指数(总值)财富指数:月:平均值,规模以上工业增加值:当月同比,进出口差额(美元计价):当月同比,M2(货币和准货币):同比,金融机构:人民币贷款余额:同比,金融机构:新增人民币贷款:中长期贷款:当月值,CPI:当月同比,PPI:当月同比
时间,,,,,,,,,,,
2023-10-31,NaN,2523.05,3587.91,232.37,NaN,-31.24,NaN,NaN,NaN,-0.20,-2.60
2023-09-30,3.1,2586.32,3742.06,232.56,4.5,-5.86,10.3,10.90,17976.01,0.00,-2.50
2023-08-31,2.4,2466.99,3853.92,232.74,4.5,-13.16,10.6,11.10,8045.43,0.10,-3.00
2023-07-31,1.6,2385.54,3878.08,231.46,3.7,-19.04,10.7,11.10,2039.75,-0.30,-4.40
2023-06-30,2.2,2252.79,3855.45,230.49,4.4,-25.84,11.3,11.30,20648.30,0.00,-5.40
...,...,...,...,...,...,...,...,...,...,...,...
2007-07-31,NaN,1247.84,3942.45,116.99,18.0,66.55,18.5,16.63,NaN,5.62,2.39
2007-06-30,NaN,1250.43,3946.90,117.48,19.4,85.55,17.1,16.48,NaN,4.36,2.49
2007-05-31,20.1,1278.57,3833.90,118.28,18.1,72.82,16.7,16.52,NaN,3.39,2.76
2007-04-30,NaN,1305.67,3204.05,118.91,17.4,61.10,17.1,16.50,NaN,3.03,2.87
2007-03-31,NaN,1265.46,2649.24,119.14,17.6,-38.59,17.3,16.25,NaN,3.28,2.65

In [12]:
data.index

DatetimeIndex(['2023-10-31', '2023-09-30', '2023-08-31', '2023-07-31',
               '2023-06-30', '2023-05-31', '2023-04-30', '2023-03-31',
               '2023-02-28', '2023-01-31',
               ...
               '2007-12-31', '2007-11-30', '2007-10-31', '2007-09-30',
               '2007-08-31', '2007-07-31', '2007-06-30', '2007-05-31',
               '2007-04-30', '2007-03-31'],
              dtype='datetime64[ns]', name='时间', length=200, freq=None)

In [34]:
data2 = data.iloc[1:200, :].copy()

pandas.core.frame.DataFrame

In [18]:
df = pd.DataFrame()

In [20]:
df.fillna(value='')

,规模以上工业企业:产成品存货:同比,南华期货:商品指数:月:平均值,沪深300指数:月:平均值,中债综合指数(总值)财富指数:月:平均值,规模以上工业增加值:当月同比,进出口差额(美元计价):当月同比,M2(货币和准货币):同比,金融机构:人民币贷款余额:同比,金融机构:新增人民币贷款:中长期贷款:当月值,CPI:当月同比,PPI:当月同比
时间,,,,,,,,,,,
2023-09-30,3.1,2586.32,3742.06,232.56,4.5,-5.86,10.3,10.90,17976.01,0.00,-2.50
2023-08-31,2.4,2466.99,3853.92,232.74,4.5,-13.16,10.6,11.10,8045.43,0.10,-3.00
2023-07-31,1.6,2385.54,3878.08,231.46,3.7,-19.04,10.7,11.10,2039.75,-0.30,-4.40
2023-06-30,2.2,2252.79,3855.45,230.49,4.4,-25.84,11.3,11.30,20648.30,0.00,-5.40
2023-05-31,3.2,2198.99,3940.71,229.41,3.5,-14.81,11.6,11.40,9381.57,0.20,-4.60
...,...,...,...,...,...,...,...,...,...,...,...
2007-07-31,NaN,1247.84,3942.45,116.99,18.0,66.55,18.5,16.63,NaN,5.62,2.39
2007-06-30,NaN,1250.43,3946.90,117.48,19.4,85.55,17.1,16.48,NaN,4.36,2.49
2007-05-31,20.1,1278.57,3833.90,118.28,18.1,72.82,16.7,16.52,NaN,3.39,2.76
2007-04-30,NaN,1305.67,3204.05,118.91,17.4,61.10,17.1,16.50,NaN,3.03,2.87
2007-03-31,NaN,1265.46,2649.24,119.14,17.6,-38.59,17.3,16.25,NaN,3.28,2.65

In [23]:
df = df.iloc[0:120, :]

In [24]:
df.index

DatetimeIndex(['2023-09-30', '2023-08-31', '2023-07-31', '2023-06-30',
               '2023-05-31', '2023-04-30', '2023-03-31', '2023-02-28',
               '2023-01-31', '2022-12-31',
               ...
               '2014-07-31', '2014-06-30', '2014-05-31', '2014-04-30',
               '2014-03-31', '2014-02-28', '2014-01-31', '2013-12-31',
               '2013-11-30', '2013-10-31'],
              dtype='datetime64[ns]', name='时间', length=120, freq=None)

In [25]:
df = df

In [28]:
type(df), type(data)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 120 entries, 2023-09-30 to 2013-10-31
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   规模以上工业企业:产成品存货:同比       110 non-null    float64
 1   南华期货:商品指数:月:平均值         120 non-null    float64
 2   沪深300指数:月:平均值           120 non-null    float64
 3   中债综合指数(总值)财富指数:月:平均值    120 non-null    float64
 4   规模以上工业增加值:当月同比          120 non-null    float64
 5   进出口差额(美元计价):当月同比        120 non-null    float64
 6   M2(货币和准货币):同比           120 non-null    float64
 7   金融机构:人民币贷款余额:同比         120 non-null    float64
 8   金融机构:新增人民币贷款:中长期贷款:当月值  120 non-null    float64
 9   CPI:当月同比                120 non-null    float64
 10  PPI:当月同比                120 non-null    float64
dtypes: float64(11)
memory usage: 11.2 KB

In [36]:
df2 = df.fillna(method='bfill', inplace=True).copy()

C:\Users\Administrator.DESKTOP-BCUJV93\AppData\Local\Temp\ipykernel_13040\732252375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2 = df.fillna(method='bfill', inplace=True).copy()

AttributeError: 'NoneType' object has no attribute 'copy'

In [37]:
df

,规模以上工业企业:产成品存货:同比,南华期货:商品指数:月:平均值,沪深300指数:月:平均值,中债综合指数(总值)财富指数:月:平均值,规模以上工业增加值:当月同比,进出口差额(美元计价):当月同比,M2(货币和准货币):同比,金融机构:人民币贷款余额:同比,金融机构:新增人民币贷款:中长期贷款:当月值,CPI:当月同比,PPI:当月同比
时间,,,,,,,,,,,
2023-09-30,3.1,2586.32,3742.06,232.56,4.50,-5.86,10.3,10.9,17976.01,0.00,-2.50
2023-08-31,2.4,2466.99,3853.92,232.74,4.50,-13.16,10.6,11.1,8045.43,0.10,-3.00
2023-07-31,1.6,2385.54,3878.08,231.46,3.70,-19.04,10.7,11.1,2039.75,-0.30,-4.40
2023-06-30,2.2,2252.79,3855.45,230.49,4.40,-25.84,11.3,11.3,20648.30,0.00,-5.40
2023-05-31,3.2,2198.99,3940.71,229.41,3.50,-14.81,11.6,11.4,9381.57,0.20,-4.60
...,...,...,...,...,...,...,...,...,...,...,...
2014-02-28,10.2,1161.50,2247.21,148.32,8.77,-251.64,13.3,14.2,4142.87,1.95,-2.02
2014-01-31,6.8,1178.26,2224.05,146.45,8.49,14.01,13.2,14.3,8162.80,2.49,-1.60
2013-12-31,6.8,1227.72,2370.87,145.97,9.70,-20.21,13.6,14.1,1393.51,2.50,-1.36
2013-11-30,6.6,1230.26,2375.87,146.35,10.00,71.92,14.2,14.2,2675.07,3.02,-1.42
2013-10-31,6.2,1248.94,2423.22,148.24,10.30,-3.16,14.3,14.2,2974.23,3.21,-1.51