In [1]:
import pandas as pd
import datetime
import numpy as py
import mplfinance as mpf
from matplotlib import pyplot as plt

D:\Anaconda\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [15]:
datebase = pd.read_excel('../复权后品种行情数据/生猪主连_2022-01-04_to_2023-09-05后复权数据.xlsx',index_col=[0],usecols=[
    '时间','期货简称','复权开盘价','复权最高价','复权最低价','复权收盘价','成交量','复权系数_y'])

In [20]:
datebase.columns =['期货简称','复权开盘价','复权最高价','复权最低价','复权收盘价','成交量','复权系数_y']
datebase.head()

            期货简称  复权开盘价  复权最高价  复权最低价  复权收盘价  成交量  复权系数_y
时间
2022-01-04  生猪主连  18689    NaN    NaN    NaN  NaN     NaN
2022-01-05  生猪主连  18262    NaN    NaN    NaN  NaN     NaN
2022-01-06  生猪主连  16827    NaN    NaN    NaN  NaN     NaN
2022-01-07  生猪主连  18113    NaN    NaN    NaN  NaN     NaN
2022-01-10  生猪主连  28893    NaN    NaN    NaN  NaN     NaN

In [17]:
type(datebase.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [22]:
datebase.rename(columns={'期货简称':'name','复权开盘价':'open','复权最高价':'high','复权最低价':'low','复权收盘价':'close','成交量':'volume','复权系数_y':'adjust'},inplace=True)

In [23]:
datebase.head()

            name   open  high  low  close  volume  adjust
时间
2022-01-04  生猪主连  18689   NaN  NaN    NaN     NaN     NaN
2022-01-05  生猪主连  18262   NaN  NaN    NaN     NaN     NaN
2022-01-06  生猪主连  16827   NaN  NaN    NaN     NaN     NaN
2022-01-07  生猪主连  18113   NaN  NaN    NaN     NaN     NaN
2022-01-10  生猪主连  28893   NaN  NaN    NaN     NaN     NaN

In [25]:
datebase.dropna(inplace=True)

In [26]:
datebase.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 387 entries, 2022-02-08 to 2023-09-05
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    387 non-null    object
 1   open    387 non-null    int64
 2   high    387 non-null    float64
 3   low     387 non-null    float64
 4   close   387 non-null    float64
 5   volume  387 non-null    float64
 6   adjust  387 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 24.2+ KB